html {
    font-size: 10px;
    font-family: 'Pacifico', cursive;
    background-color: #8B088B;
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: #A7C709;
    padding: 0 20px 20px 20px;
    border: 5px solid white;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #8B088B;
    text-shadow: 3px 3px 1px gray;
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
    width: 1000px;
}